username = ""
project = ""
instance_name = ""
image_name = ""
flavor = ""
keypair = ""
root_storage_type = "volume"
root_storage_size = "60"
root_storage_delete_on_termination = "false"
do_ansible_execution = "true"